<h1><%= @pet.persisted? ? "Editar Animal" : "Novo Animal" %></h1>

<%= form_with(model: [@shelter, @pet], local: true, html: {multipart: true}) do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "erro") %> impedem este animal de ser salvo:</h2>
      <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :specie, "Espécie" %>
    <%= form.text_field :specie %>
  </div>

  <div class="field">
    <%= form.label :color, "Cor" %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :size, "Tamanho" %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :age, "Idade" %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :found_in, "Local encontrado" %>
    <%= form.text_field :found_in %>
  </div>

  <div class="field">
    <%= form.label :tutor_name, "Nome do tutor" %>
    <%= form.text_field :tutor_name %>
  </div>

  <div class="field">
    <%= form.label :tutor_contact, "Contato do tutor" %>
    <%= form.text_field :tutor_contact %>
  </div>

  <div class="field">
    <%= form.label :received_at, "Data de entrada" %>
    <%= form.datetime_select :received_at %>
  </div>

  <div class="field">
    <%= form.label :left_at, "Data de saída" %>
    <%= form.datetime_select :left_at %>
  </div>

  <div class="field">
    <%= form.label :img, "Imagem" %>
    <%= form.file_field :img %>
    <% if @pet.img.attached? %>
      <%= image_tag @pet.img, alt: @pet.name, class: 'img-thumbnail' %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar alterações" %>
  </div>
<% end %>

<%= link_to 'Voltar', shelter_pets_path(@shelter) %>
