<!-- app/views/pets/search_results.html.erb -->

<div class="container">
  <h1>Resultados da Busca Global</h1>

  <% if @pets.any? %>
    <div class="row">
      <div class="col-md-12">
        <h2>Animais Encontrados:</h2>
        <ul class="list-group">
          <% @pets.each do |pet| %>
            <li class="list-group-item">
              <h4><%= link_to pet.name, shelter_pet_path(pet.shelter, pet) %></h4>
              <p>Espécie: <%= pet.specie %></p>
              <p>Cor: <%= pet.color %></p>
              <p>Tamanho: <%= pet.size %></p>
              <p>Idade: <%= pet.age %> anos</p>
              <p>Descrição: <%= pet.description %></p>
              <p>Local encontrado: <%= pet.found_in %></p>
              <% if pet.img.attached? %>
                <%= image_tag pet.img, alt: pet.name, class: 'img-thumbnail' %>
              <% end %>
              <p>Abrigado em: <%= pet.shelter.name %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h3>Abrigos Relacionados:</h3>
        <ul class="list-group">
          <% @shelters.each do |shelter| %>
            <li class="list-group-item">
              <h4><%= link_to shelter.name, shelter_path(shelter) %></h4>
              <p>Endereço: <%= shelter.address %></p>
              <p>Cidade: <%= shelter.city %></p>
              <p>Estado: <%= shelter.state %></p>
              <p>Contato: <%= shelter.contact %></p>
              <p>Descrição: <%= shelter.description %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <p>Nenhum animal encontrado com o nome "<%= params[:name] %>".</p>
  <% end %>

  <%= link_to 'Voltar', root_path, class: 'btn btn-secondary mt-4' %>
</div>
