<h1>Buscar Abrigos</h1>

<%= simple_form_for search_shelters_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.input :name, label: "Nome do Abrigo", placeholder: "Digite o nome do abrigo", required: false %>
  </div>

  <div class="form-group">
    <%= f.input :city, label: "Cidade", placeholder: "Digite a cidade", required: false %>
  </div>

  <%= f.submit 'Buscar', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Voltar para lista de abrigos', shelters_path, class: 'btn btn-secondary' %>
